node/
node_modules/
.vscode
yarn.lock
**/src/main/webapp/coverage/
**/src/main/webapp/dist/

**/.project
**/.classpath
**/.settings
**/target/**/*
**/test-output/**/*
**/.springBeans

### Intellij ###

*.iml
.idea/

### Linux ###
*~
.Trash-*

# KDE directory preferences
.directory

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.log

# Netbeans #
nbproject/
nbactions.xml

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/json/
/.parcel-cache/
