@opf:registry=https://registry.devops.etat-ge.ch/ctinexus/content/repositories/npm_release/
proxy=http://127.0.0.1:3128
https-proxy=http://127.0.0.1:3128
noproxy=etat-ge.ch
registry=https://registry.devops.etat-ge.ch/ctinexus/repository/npmjs/
strict-ssl=false
//registry.devops.etat-ge.ch/ctinexus/content/repositories/npm_release/:_auth="bHhIYXo4czg6N0prcVJxbW5vRXlzdzRwaUcyVFlzWi1yNFE1R0VBU0x2QWJ4VGJPWHhCd0g="
//registry.devops.etat-ge.ch/ctinexus/repository/npmjs/:_auth="bHhIYXo4czg6N0prcVJxbW5vRXlzdzRwaUcyVFlzWi1yNFE1R0VBU0x2QWJ4VGJPWHhCd0g="
//registry.devops.etat-ge.ch/ctinexus/content/repositories/:_authToken=NpmToken.6ab1e312-8a10-3085-93d3-92782cd4a771
