@ael:registry=https://registry.devops.etat-ge.ch/ctinexus/content/repositories/npm_release
proxy=http://proxygeadm.etat-ge.ch:3128
https-proxy=http://proxygeadm.etat-ge.ch:3128
noproxy=localhost,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,10.145.38.211,.ceti.etat-ge.ch,registry.devops.etat-ge.ch
strict-ssl=false
registry=https://registry.devops.etat-ge.ch/ctinexus/repository/npmjs