registry "https://registry.devops.etat-ge.ch/ctinexus/repository/npmjs"
"@ael:registry" "https://registry.devops.etat-ge.ch/ctinexus/content/repositories/npm_release"
strict-ssl false
proxy false
https-proxy false
