images:
  getheme:
    repository: oci-snapshot.devops.etat-ge.ch
    name: ch/ge/common/web/ge-theme
    version: 1.0.3-feat-primitives-SNAPSHOT.941
    digest: sha256:9652c8327b2d0fba47b7dd8217d423a209623e15b06587bc883753b3d0ca455a
