images:
  getheme:
    repository: oci-release.devops.etat-ge.ch
    name: ch/ge/common/web/ge-theme
    version: 1.0.3
    digest: sha256:957455edbec928edef46a71beaf48464fe04c3381771951f1e52b3f9b47c09fc
