images:
  getheme:
    repository: oci-snapshot.devops.etat-ge.ch
    name: ch/ge/common/web/ge-theme
    version: 1.0.6-feat-fs-SNAPSHOT.1030
    digest: sha256:ec10512e96c1bb01995994bd5e165881c6990052def062b07e8c1eaecbde1a3c
