images:
  getheme:
    repository: oci-snapshot.devops.etat-ge.ch
    name: ch/ge/common/web/ge-theme
    version: 1.1.1-feature-cybertheme-148-ge-footer-i18n-SNAPSHOT.1076
    digest: sha256:b1775e2626bdd9d87f2a9a8a204f242394d5f15fde0a8356ef60c202e110ca77
