images:
  getheme:
    repository: oci-release.devops.etat-ge.ch
    name: ch/ge/common/web/ge-theme
    version: 1.1.5
    digest: sha256:429575eab9d2ac8fde0bf03d226356da358729f4c19746654a243ed985de0b59
