images:
  getheme:
    repository: oci-release.devops.etat-ge.ch
    name: ch/ge/common/web/ge-theme
    version: 1.0.6
    digest: sha256:c91c00e23fd3a3673b339574195229a8ecfe131e5e4be50398c4495863bd08e0
