.light {
  --md-sys-color-secondary-container: var(--md-ref-palette-secondary-90);
  --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary-90);
  --md-sys-color-error-container: var(--md-ref-palette-error-90);
  --md-sys-color-warning-container: var(--md-ref-palette-warning-90);
  --md-sys-color-success-container: var(--md-ref-palette-success-90);
  --md-sys-color-primary-container: var(--md-ref-palette-primary-90);
  --md-sys-color-surface: var(--md-ref-palette-neutral-100);
  --md-sys-color-surface-container-lowest: var(--md-ref-palette-neutral-98);
  --md-sys-color-surface-dim: var(--md-ref-palette-neutral-80);
  --md-sys-color-surface-container-low: var(--md-ref-palette-neutral-95);
  --md-sys-color-surface-bright: var(--md-ref-palette-neutral-98);
  --md-sys-color-surface-container: var(--md-ref-palette-neutral-98);
  --md-sys-color-surface-container-high: var(--md-ref-palette-neutral-90);
  --md-sys-color-surface-container-highest: var(--md-ref-palette-neutral-80);
  --md-sys-color-surface-variant: var(--md-ref-palette-neutral-90);
  --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral-95);
  --md-sys-color-inverse-surface: var(--md-ref-palette-neutral-20);
  --md-sys-color-inverse-primary: var(--md-ref-palette-primary-80);
  --md-sys-color-on-primary: var(--md-ref-palette-primary-100);
  --md-sys-color-on-secondary: var(--md-ref-palette-secondary-100);
  --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary-100);
  --md-sys-color-on-error: var(--md-ref-palette-error-100);
  --md-sys-color-on-warning: var(--md-ref-palette-warning-100);
  --md-sys-color-on-success: var(--md-ref-palette-success-100);
  --md-sys-color-on-primary-container: var(--md-ref-palette-primary-10);
  --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary-10);
  --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary-10);
  --md-sys-color-on-error-container: var(--md-ref-palette-error-10);
  --md-sys-color-on-warning-container: var(--md-ref-palette-warning-10);
  --md-sys-color-on-success-container: var(--md-ref-palette-success-10);
  --md-sys-color-on-surface: var(--md-ref-palette-neutral-10);
  --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant-30);
  --md-sys-color-on-background: var(--md-ref-palette-neutral-10);
  --md-sys-color-outline: var(--md-ref-palette-neutral-variant-70);
  --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant-80);
  --md-sys-color-outline-error: var(--md-ref-palette-error-40);
  --md-sys-color-outline-warning: var(--md-ref-palette-warning-40);
  --md-sys-color-primary: var(--md-ref-palette-primary-40);
  --md-sys-color-outline-success: var(--md-ref-palette-success-40);
  --md-sys-color-secondary: var(--md-ref-palette-secondary-40);
  --md-sys-color-tertiary: var(--md-ref-palette-tertiary-40);
  --md-sys-color-error: var(--md-ref-palette-error-40);
  --md-sys-color-warning: var(--md-ref-palette-warning-40);
  --md-sys-color-success: var(--md-ref-palette-success-40);
  --md-sys-color-background: var(--md-ref-palette-secondary-98);
  --md-sys-color-shadow: var(--md-ref-shadow-light-opacity-0);
  --md-sys-color-scrim: var(--md-ref-shadow-light-opacity-0);
  --md-sys-color-state-opacity-0: var(--md-ref-shadow-light-opacity-0);
  --md-sys-color-state-opacity-8: var(--md-ref-shadow-light-opacity-8);
  --md-sys-color-state-opacity-12: var(--md-ref-shadow-light-opacity-12);
  --md-sys-color-state-opacity-16: var(--md-ref-shadow-light-opacity-16);
  --md-sys-color-gradient-grad-0: var(--md-ref-shadow-universal-opacity-0);
  --md-sys-color-gradient-grad-100: var(--md-ref-shadow-universal-opacity-80);
  --md-sys-shadow-elevation-0-color: var(--md-ref-palette-neutral-0);
  --md-sys-shadow-elevation-1-color: var(--md-ref-shadow-universal-opacity-8);
  --md-sys-shadow-elevation-2-color: var(--md-ref-shadow-universal-opacity-30);
  --md-sys-shadow-elevation-3-color: var(--md-ref-shadow-universal-opacity-15);
  --md-sys-shadow-elevation-4-color: var(--md-ref-shadow-universal-opacity-15);
  --md-sys-shadow-elevation-5-color: var(--md-ref-shadow-universal-opacity-30);
  --md-sys-shadow-elevation-second-1-color: var(--md-ref-shadow-universal-opacity-15);
  --md-sys-shadow-elevation-second-2-color: var(--md-ref-shadow-universal-opacity-15);
  --md-sys-shadow-elevation-second-3-color: var(--md-ref-shadow-universal-opacity-30);
  --md-sys-shadow-elevation-second-4-color: var(--md-ref-shadow-universal-opacity-30);
  --md-sys-shadow-elevation-second-5-color: var(--md-ref-shadow-universal-opacity-30);
}

