/* variables spécifiques vuetify  */
:root {
    --v-list-item-subtitle-opacity: 1;
}


/* ROUNDED */

.rounded-sm  {
    border-radius: var(--md-sys-shape-corner-small)!important;
}

.rounded {
    border-radius:var(--md-sys-shape-corner-medium)!important;
}
.rounded-lg  {
    border-radius: var(--md-sys-shape-corner-large)!important;
}
.rounded-xl  {
    border-radius: var(--md-sys-shape-corner-extra-large)!important;
}



/* APP BAR */


.v-app-bar {
    background-color: rgb(var(--v-theme-background)) !important;
    border-bottom: 1px solid rgb(var(--v-theme-outline-variant));
    color: inherit !important;
}

/* List */
.v-list--border .v-list-item:not(:last-child) {
    border-bottom-width: thin;
}

.v-list--rounded {
    border-radius: var(--md-sys-shape-corner-extra-small) !important;
    overflow: hidden;
}

/* SHEET (PAPER) */
.v-application .v-sheet {
    box-shadow: none;
}

.surface-highest {
    background-color: var(--md-sys-color-surface-container-highest) !important;
    color: var(--md-sys-color-on-surface) !important;
}

.surface-high {
    background-color: var(--md-sys-color-surface-container-high) !important;
    color: var(--md-sys-color-on-surface) !important;
}

.surface {
    background-color: var(--md-sys-color-surface-container) !important;
    color: var(--md-sys-color-on-surface) !important;
}

.surface-low {
    background-color: var(--md-sys-color-surface-container-low) !important;
    color: var(--md-sys-color-on-surface) !important;
}

.surface-lowest {
    background-color: var(--md-sys-color-surface-container-lowest) !important;
    color: var(--md-sys-color-on-surface) !important;
}

.v-sheet--rounded {
    border-radius:var(--md-sys-shape-corner-medium)!important;
}

/* Alert */
.v-alert {
    border-radius: var(--v-shape-corner-medium) !important;
    width: auto !important;
}

.v-alert.bg-success {
    background-color: rgba(var(--v-theme-success-container)) !important;
    color: rgba(var(--v-theme-on-success-container)) !important;
}

.v-alert.bg-info {
    background-color: rgba(var(--v-theme-info-container)) !important;
    color: rgba(var(--v-theme-on-info-container)) !important;
}

.v-alert.bg-warning {
    background-color: rgba(var(--v-theme-warning-container)) !important;
    color: rgba(var(--v-theme-on-warning-container)) !important;
}

.v-alert.bg-error {
    background-color: rgba(var(--v-theme-error-container)) !important;
    color: rgba(var(--v-theme-on-error-container)) !important;
}

/* Expansion panel */
.v-expansion-panel {
    border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
}

.v-expansion-panel--disabled .v-expansion-panel-title__overlay {
    display: none;
}

.v-expansion-panel--disabled button.v-expansion-panel-title {
    pointer-events: unset;
}

.v-expansion-panel__shadow {
    display: none;
}

/* v-btn */

.v-btn {
    height: 40px !important;
    text-transform: none !important;
    border-radius: var(--v-shape-corner-full);
    font-size: var(--md-sys-typescale-label-medium-size) !important;
    line-height: var(--md-sys-typescale-label-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-label-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-medium-tracking) !important;
}

.v-btn--icon {
    width: 40px !important;
    height: 40px !important;
}


.v-btn--variant-outlined {
    border: thin solid rgba(var(--v-theme-outline)) !important;
}

.v-btn:not(.v-btn--icon) {
    padding: 0 24px !important;
}

.v-btn.v-btn--disabled {
	opacity:  0.38 !important;
	
    /* Couleur du texte / icône */
    color: rgba(
        var(--v-theme-on-surface),
        var(--md-sys-color-state-opacity-12)
    ) !important;

    /* Fond du bouton */
    background-color: rgba(
        var(--v-theme-on-surface),
	    var(--md-sys-color-state-opacity-12)
    ) !important;
}

/* Chip */

.v-chip.rounded-sm,
.v-chip.rounded-md,
.v-chip.rounded-lg,
.v-chip.rounded-xl {
    border-radius: var(--v-shape-corner-small) !important;
}

.v-chip.text-success {
    background: rgba(var(--v-theme-success-container));
}


.v-chip--variant-outlined {
    background: none !important;
}

.v-chip.text-info {
    background: rgba(var(--v-theme-info-container));
}

.v-chip.text-info.v-chip--variant-outlined {
    border: thin solid rgba(var(--v-theme-outline)) !important;
}

.v-chip.text-info.v-chip__prepend {
    color: red !important;
}

.v-chip__underlay {
    background: unset !important;
}

.v-chip.text-warning {
    background: rgba(var(--v-theme-warning-container));
}

.v-chip.text-error {
    background: rgba(var(--v-theme-error-container));
}

.v-chip__close {
    color: rgba(var(--v-theme-on-surface-variant));
}

.v-chip__content {
    color: rgba(var(--v-theme-on-surface-variant));
}


/* Table */

.v-table th {
    background: rgba(var(--v-theme-secondary-container)) !important;
    color: rgba(var(--v-theme-on-secondary-container)) !important;
}

.v-table td {
    color: rgba(var(--v-theme-on-background)) !important;
}

.v-data-table tr:nth-child(even):not(.selected):not(:hover)  {
	background: var(--md-sys-color-surface);
}

.v-data-table tr:nth-child(odd):not(.selected):not(:hover)  {
	background: var(--md-sys-color-surface-container-lowest);
}

.v-data-table tr.selected:not(:hover)  {
	background: linear-gradient(0deg, var(--md-sys-color-state-opacity-12 ) 0%,
	var(--md-sys-color-state-opacity-12) 100%),
	var(--md-sys-color-surface);
}

.v-data-table tr:hover  {
	background: linear-gradient(0deg,
	var(--md-sys-color-state-opacity-8) 0%,
	var(--md-sys-color-state-opacity-8) 100%),
	var(--md-sys-color-surface-container-lowest, #F7FAFC);
}



/* Avatar */

.v-avatar {
    background: rgb(var(--v-theme-primary-container)) !important;
    color: rgb(var(--v-theme-on-surface-variant)) !important;
}

/* TODO: CELLS */


/* TYPO */


.text-h1 {
    font-size: var(--md-sys-typescale-headline-large-size) !important;
    line-height: var(--md-sys-typescale-headline-large-line-height) !important;
    font-weight: var(--md-sys-typescale-headline-large-weight) !important;
    letter-spacing: var(--md-sys-typescale-headline-large-tracking) !important;
}

.text-h2 {
    font-size: var(--md-sys-typescale-headline-medium-size) !important;
    line-height: var(--md-sys-typescale-headline-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-headline-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking) !important;
}

.text-h3 {
    font-size: var(--md-sys-typescale-headline-small-size) !important;
    line-height: var(--md-sys-typescale-headline-small-line-height) !important;
    font-weight: var(--md-sys-typescale-headline-small-weight) !important;
    letter-spacing: var(--md-sys-typescale-headline-small-tracking) !important;
}

.text-h4 {
    font-size: var(--md-sys-typescale-title-large-size) !important;
    line-height: var(--md-sys-typescale-title-large-line-height) !important;
    font-weight: var(--md-sys-typescale-title-large-weight) !important;
    letter-spacing: var(--md-sys-typescale-title-large-tracking) !important;
}

.text-h5 {
    font-size: var(--md-sys-typescale-title-medium-size) !important;
    line-height: var(--md-sys-typescale-title-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-title-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-title-medium-tracking) !important;
}

.text-h6 {
    font-size: var(--md-sys-typescale-title-small-size) !important;
    line-height: var(--md-sys-typescale-title-small-line-height) !important;
    font-weight: var(--md-sys-typescale-title-small-weight) !important;
    letter-spacing: var(--md-sys-typescale-title-small-tracking) !important;
}

.text-body-1 {
    font-size: var(--md-sys-typescale-body-large-size) !important;
    line-height: var(--md-sys-typescale-body-large-line-height) !important;
    font-weight: var(--md-sys-typescale-body-large-weight) !important;
    letter-spacing: var(--md-sys-typescale-body-large-tracking) !important;
}

.text-body-2 {
    font-size: var(--md-sys-typescale-body-medium-size) !important;
    line-height: var(--md-sys-typescale-body-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-body-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-body-medium-tracking) !important;
}


.text-body-3 {
    font-size: var(--md-sys-typescale-body-small-size) !important;
    line-height: var(--md-sys-typescale-body-small-line-height) !important;
    font-weight: var(--md-sys-typescale-body-small-weight) !important;
    letter-spacing: var(--md-sys-typescale-body-small-tracking) !important;
}

.text-label-1 {
    font-size: var(--md-sys-typescale-label-large-size) !important;
    line-height: var(--md-sys-typescale-label-large-line-height) !important;
    font-weight: var(--md-sys-typescale-label-large-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-large-tracking) !important;
}

.text-label-2 {
    font-size: var(--md-sys-typescale-label-medium-size) !important;
    line-height: var(--md-sys-typescale-label-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-label-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-medium-tracking) !important;
}

.text-label-3 {
    font-size: var(--md-sys-typescale-label-small-size) !important;
    line-height: var(--md-sys-typescale-label-small-line-height) !important;
    font-weight: var(--md-sys-typescale-label-small-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-small-tracking) !important;
}

.text-button {
    font-size: var(--md-sys-typescale-label-medium-size) !important;
    line-height: var(--md-sys-typescale-label-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-label-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-medium-tracking) !important;
}


@media (max-width: 1024px) {
    .text-h1 {
        font-size: var(--md-sys-typescale-headline-medium-size) !important;
        line-height: var(--md-sys-typescale-headline-medium-line-height) !important;
        font-weight: var(--md-sys-typescale-headline-medium-weight) !important;
        letter-spacing: var(--md-sys-typescale-headline-medium-tracking) !important;
    }

    .text-h2 {
        font-size: var(--md-sys-typescale-headline-small-size) !important;
        line-height: var(--md-sys-typescale-headline-small-line-height) !important;
        font-weight: var(--md-sys-typescale-headline-small-weight) !important;
        letter-spacing: var(--md-sys-typescale-headline-small-tracking) !important;
    }

    .text-h3 {
        font-size: var(--md-sys-typescale-title-large-size) !important;
        line-height: var(--md-sys-typescale-title-large-line-height) !important;
        font-weight: var(--md-sys-typescale-title-large-weight) !important;
        letter-spacing: var(--md-sys-typescale-title-large-tracking) !important;
    }

    .text-h4 {
        font-size: var(--md-sys-typescale-title-medium-size) !important;
        line-height: var(--md-sys-typescale-title-medium-line-height) !important;
        font-weight: var(--md-sys-typescale-title-medium-weight) !important;
        letter-spacing: var(--md-sys-typescale-title-medium-tracking) !important;
    }

    .text-h5 {
        font-size: var(--md-sys-typescale-title-small-size) !important;
        line-height: var(--md-sys-typescale-title-small-line-height) !important;
        font-weight: var(--md-sys-typescale-title-small-weight) !important;
        letter-spacing: var(--md-sys-typescale-title-small-tracking) !important;
    }

    /* unused to be defined */
    .text-h6 {
        font-size: var(--md-sys-typescale-title-small-size) !important;
        line-height: var(--md-sys-typescale-title-small-line-height) !important;
        font-weight: var(--md-sys-typescale-title-small-weight) !important;
        letter-spacing: var(--md-sys-typescale-title-small-tracking) !important;
    }


}

/* CARD */

.v-card--rounded {
    border-radius:var(--md-sys-shape-corner-medium)!important;
}



/* SELECT */

.v-menu > .v-overlay__content > .v-card,
.v-menu > .v-overlay__content > .v-sheet,
.v-menu > .v-overlay__content > .v-list {
    background: rgb(var(--v-theme-surface-container)) !important;
}


/* Textfield */

.v-field {
    border-radius: var(--v-shape-corner-extra-small) !important;
}
