@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-color-primary: rgb(156 203 251);
    --md-sys-color-surface-tint: rgb(157 203 251);
    --md-sys-color-on-primary: rgb(0 51 85);
    --md-sys-color-primary-container: rgb(18 74 115);
    --md-sys-color-on-primary-container: rgb(207 229 255);
    --md-sys-color-secondary: rgb(185 200 218);
    --md-sys-color-on-secondary: rgb(36 50 64);
    --md-sys-color-secondary-container: rgb(58 72 87);
    --md-sys-color-on-secondary-container: rgb(213 228 247);
    --md-sys-color-tertiary: rgb(255 179 180);
    --md-sys-color-on-tertiary: rgb(86 29 33);
    --md-sys-color-tertiary-container: rgb(115 51 54);
    --md-sys-color-on-tertiary-container: rgb(255 218 218);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(16 20 24);
    --md-sys-color-on-background: rgb(224 226 232);
    --md-sys-color-surface: rgb(16 20 24);
    --md-sys-color-on-surface: rgb(224 226 232);
    --md-sys-color-surface-variant: rgb(66 71 78);
    --md-sys-color-on-surface-variant: rgb(194 199 207);
    --md-sys-color-outline: rgb(140 145 153);
    --md-sys-color-outline-variant: rgb(66 71 78);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(224 226 232);
    --md-sys-color-inverse-on-surface: rgb(45 49 53);
    --md-sys-color-inverse-primary: rgb(49 98 141);
    --md-sys-color-primary-fixed: rgb(207 229 255);
    --md-sys-color-on-primary-fixed: rgb(0 29 52);
    --md-sys-color-primary-fixed-dim: rgb(157 203 251);
    --md-sys-color-on-primary-fixed-variant: rgb(18 74 115);
    --md-sys-color-secondary-fixed: rgb(213 228 247);
    --md-sys-color-on-secondary-fixed: rgb(14 29 42);
    --md-sys-color-secondary-fixed-dim: rgb(185 200 218);
    --md-sys-color-on-secondary-fixed-variant: rgb(58 72 87);
    --md-sys-color-tertiary-fixed: rgb(255 218 218);
    --md-sys-color-on-tertiary-fixed: rgb(59 8 14);
    --md-sys-color-tertiary-fixed-dim: rgb(255 179 180);
    --md-sys-color-on-tertiary-fixed-variant: rgb(115 51 54);
    --md-sys-color-surface-dim: rgb(16 20 24);
    --md-sys-color-surface-bright: rgb(54 57 62);
    --md-sys-color-surface-container-lowest: rgb(11 14 18);
    --md-sys-color-surface-container-low: rgb(24 28 32);
    --md-sys-color-surface-container: rgb(29 32 36);
    --md-sys-color-surface-container-high: rgb(39 42 47);
    --md-sys-color-surface-container-highest: rgb(50 53 58);
    --md-extended-color-notifications-color: rgb(255 179 180);
    --md-extended-color-notifications-on-color: rgb(86 29 33);
    --md-extended-color-notifications-color-container: rgb(115 51 54);
    --md-extended-color-notifications-on-color-container: rgb(255 218 218);
    --md-extended-color-info-color: rgb(157 203 251);
    --md-extended-color-info-on-color: rgb(0 51 85);
    --md-extended-color-info-color-container: rgb(18 74 115);
    --md-extended-color-info-on-color-container: rgb(207 229 255);
    --md-extended-color-success-color: rgb(161 211 154);
    --md-extended-color-success-on-color: rgb(10 57 15);
    --md-extended-color-success-color-container: rgb(36 80 36);
    --md-extended-color-success-on-color-container: rgb(188 240 180);
    --md-extended-color-warning-color: rgb(246 188 111);
    --md-extended-color-warning-on-color: rgb(70 43 0);
    --md-extended-color-warning-color-container: rgb(100 63 0);
    --md-extended-color-warning-on-color-container: rgb(255 221 181);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --md-sys-color-primary: rgb(49 98 141);
    --md-sys-color-surface-tint: rgb(49 98 141);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(207 229 255);
    --md-sys-color-on-primary-container: rgb(0 29 52);
    --md-sys-color-secondary: rgb(82 96 112);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(213 228 247);
    --md-sys-color-on-secondary-container: rgb(14 29 42);
    --md-sys-color-tertiary: rgb(143 74 77);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(255 218 218);
    --md-sys-color-on-tertiary-container: rgb(59 8 14);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(247 249 255);
    --md-sys-color-on-background: rgb(24 28 32);
    --md-sys-color-surface: rgb(247 249 255);
    --md-sys-color-on-surface: rgb(24 28 32);
    --md-sys-color-surface-variant: rgb(222 227 235);
    --md-sys-color-on-surface-variant: rgb(66 71 78);
    --md-sys-color-outline: rgb(114 119 127);
    --md-sys-color-outline-variant: rgb(194 199 207);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(45 49 53);
    --md-sys-color-inverse-on-surface: rgb(239 241 246);
    --md-sys-color-inverse-primary: rgb(157 203 251);
    --md-sys-color-primary-fixed: rgb(207 229 255);
    --md-sys-color-on-primary-fixed: rgb(0 29 52);
    --md-sys-color-primary-fixed-dim: rgb(157 203 251);
    --md-sys-color-on-primary-fixed-variant: rgb(18 74 115);
    --md-sys-color-secondary-fixed: rgb(213 228 247);
    --md-sys-color-on-secondary-fixed: rgb(14 29 42);
    --md-sys-color-secondary-fixed-dim: rgb(185 200 218);
    --md-sys-color-on-secondary-fixed-variant: rgb(58 72 87);
    --md-sys-color-tertiary-fixed: rgb(255 218 218);
    --md-sys-color-on-tertiary-fixed: rgb(59 8 14);
    --md-sys-color-tertiary-fixed-dim: rgb(255 179 180);
    --md-sys-color-on-tertiary-fixed-variant: rgb(115 51 54);
    --md-sys-color-surface-dim: rgb(216 218 224);
    --md-sys-color-surface-bright: rgb(247 249 255);
    --md-sys-color-surface-container-lowest: rgb(235 235 240);
    --md-sys-color-surface-container-low: rgb(242 243 249);
    --md-sys-color-surface-container: rgb(247, 249, 255);
    --md-sys-color-surface-container-high: rgb(250 255 255);
    --md-sys-color-surface-container-highest: rgb(255 255 255);
    --md-extended-color-notifications-color: rgb(143 74 77);
    --md-extended-color-notifications-on-color: rgb(255 255 255);
    --md-extended-color-notifications-color-container: rgb(255 218 218);
    --md-extended-color-notifications-on-color-container: rgb(59 8 14);
    --md-extended-color-info-color: rgb(49 98 141);
    --md-extended-color-info-on-color: rgb(255 255 255);
    --md-extended-color-info-color-container: rgb(207 229 255);
    --md-extended-color-info-on-color-container: rgb(0 29 52);
    --md-extended-color-success-color: rgb(59 105 57);
    --md-extended-color-success-on-color: rgb(255 255 255);
    --md-extended-color-success-color-container: rgb(188 240 180);
    --md-extended-color-success-on-color-container: rgb(0 34 4);
    --md-extended-color-warning-color: rgb(129 86 17);
    --md-extended-color-warning-on-color: rgb(255 255 255);
    --md-extended-color-warning-color-container: rgb(255 221 181);
    --md-extended-color-warning-on-color-container: rgb(42 24 0);
  }
}

:root {
  --md-shape-borderRadius: 4px;
  --md-shadows-0: none;
  --md-ref-typeface-brand: Roboto;
  --md-ref-typeface-plain: Roboto;
  --md-menu-item-one-line-container-height: 28px;
}
