/* APP BAR */


.v-app-bar {
    background-color: rgb(var(--v-theme-background)) !important;
    border-bottom: 1px solid rgb(var(--v-theme-outline-variant));
    color: inherit !important;
}



/* List */

.v-list--border .v-list-item:not(:last-child) {
    border-bottom-width: thin
}

/* SHEET (PAPER) */


.v-sheet {
    box-shadow: none !important;
    /* Ne fait pas partie de la spec material */
    /* padding: 8px !important; */
    border-radius: var(--v-shape-corner-extra-small) !important;
}


.v-sheet {
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 1px 3px 0px rgba(0, 0, 0, 0.02) !important;
}


.v-sheet.elevation-1 {
    background-color: rgba(var(--v-surface-lowest));
}

.v-sheet.elevation-2 {
    background-color: rgba(var(--v-surface-low));
}

.v-sheet.elevation-3 {
    background-color: rgba(var(--v-theme-surface));
}

.v-sheet.elevation-4 {
    background-color: rgba(var(--v-surface-high));
}

.v-sheet.elevation-5 {
    background-color: rgba(var(--v-surface-highest));
}

/* CARD */

.v-card {
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 1px 3px 0px rgba(0, 0, 0, 0.02) !important;
    border-radius: var(--v-shape-corner-medium) !important;
}

.v-card.elevation-1 {
    background-color: rgba(var(--v-surface-lowest));
}

.v-card.elevation-2 {
    background-color: rgba(var(--v-surface-low));
}

.v-card.elevation-3 {
    background-color: rgba(var(--v-theme-surface));
}

.v-card.elevation-4 {
    background-color: rgba(var(--v-surface-high));
}

.v-card.elevation-5 {
    background-color: rgba(var(--v-surface-highest));
}

/* Alert */

.v-alert {
    border-radius: var(--v-shape-corner-medium) !important;
    width: fit-content !important;
}

.v-alert.bg-success {
    background-color: rgba(var(--v-theme-success-container)) !important;
    color: rgba(var(--v-theme-on-success-container)) !important;
}

.v-alert.bg-info {
    background-color: rgba(var(--v-theme-info-container)) !important;
    color: rgba(var(--v-theme-on-info-container)) !important;
}

.v-alert.bg-warning {
    background-color: rgba(var(--v-theme-warning-container)) !important;
    color: rgba(var(--v-theme-on-warning-container)) !important;
}

.v-alert.bg-error {
    background-color: rgba(var(--v-theme-error-container)) !important;
    color: rgba(var(--v-theme-on-error-container)) !important;
}

/* v-btn */

.v-btn {
    height: 40px !important;
    text-transform: none !important;
    border-radius: var(--v-shape-corner-full);
    font-size: var(--md-sys-typescale-label-medium-size) !important;
    line-height: var(--md-sys-typescale-label-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-label-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-medium-tracking) !important;
}

.v-btn--icon {
    height: 48px !important;
}


.v-btn--variant-outlined {
    border: thin solid rgba(var(--v-theme-outline)) !important;
}

.v-btn:not(.v-btn--icon) {
    padding: 0 24px !important;
}


/* Chip */

.v-chip {
    border-radius: var(--v-shape-corner-small) !important;
}

.v-chip.text-success {
    background: rgba(var(--v-theme-success-container));
}


.v-chip--variant-outlined {
    background: none !important;
}

.v-chip.text-info {
    background: rgba(var(--v-theme-info-container));
}

.v-chip.text-info.v-chip--variant-outlined {
    border: thin solid rgba(var(--v-theme-outline)) !important;
}

.v-chip.text-info.v-chip__prepend {
    color: red !important;
}

.v-chip__underlay {
    background: unset !important;
}

.v-chip.text-warning {
    background: rgba(var(--v-theme-warning-container));
}

.v-chip.text-error {
    background: rgba(var(--v-theme-error-container));
}


.v-chip__close {
    color: rgba(var(--v-theme-on-surface-variant));
}

.v-chip__content {
    color: rgba(var(--v-theme-on-surface-variant));
}


/* Table */

.v-table th {
    background: rgba(var(--v-theme-secondary-container)) !important;
    color: rgba(var(--v-theme-on-secondary-container)) !important;
}

.v-table td {
    background: rgba(var(--v-theme-background)) !important;
    color: rgba(var(--v-theme-on-background)) !important;
}


/* Avatar */

.v-avatar {
    background: rgb(var(--v-theme-primary-container)) !important;
    color: rgb(var(--v-theme-on-surface-variant)) !important;
}

/* TODO: CELLS */


/* TYPO */


.text-h1 {
    font-size: var(--md-sys-typescale-headline-large-size) !important;
    line-height: var(--md-sys-typescale-headline-large-line-height) !important;
    font-weight: var(--md-sys-typescale-headline-large-weight) !important;
    letter-spacing: var(--md-sys-typescale-headline-large-tracking) !important;
}

.text-h2 {
    font-size: var(--md-sys-typescale-headline-medium-size) !important;
    line-height: var(--md-sys-typescale-headline-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-headline-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-headline-medium-tracking) !important;
}

.text-h3 {
    font-size: var(--md-sys-typescale-headline-small-size) !important;
    line-height: var(--md-sys-typescale-headline-small-line-height) !important;
    font-weight: var(--md-sys-typescale-headline-small-weight) !important;
    letter-spacing: var(--md-sys-typescale-headline-small-tracking) !important;
}

.text-h4 {
    font-size: var(--md-sys-typescale-title-large-size) !important;
    line-height: var(--md-sys-typescale-title-large-line-height) !important;
    font-weight: var(--md-sys-typescale-title-large-weight) !important;
    letter-spacing: var(--md-sys-typescale-title-large-tracking) !important;
}

.text-h5 {
    font-size: var(--md-sys-typescale-title-medium-size) !important;
    line-height: var(--md-sys-typescale-title-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-title-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-title-medium-tracking) !important;
}

.text-h6 {
    font-size: var(--md-sys-typescale-title-small-size) !important;
    line-height: var(--md-sys-typescale-title-small-line-height) !important;
    font-weight: var(--md-sys-typescale-title-small-weight) !important;
    letter-spacing: var(--md-sys-typescale-title-small-tracking) !important;
}

.text-body-1 {
    font-size: var(--md-sys-typescale-body-large-size) !important;
    line-height: var(--md-sys-typescale-body-large-line-height) !important;
    font-weight: var(--md-sys-typescale-body-large-weight);
    letter-spacing: var(--md-sys-typescale-body-large-tracking) !important;
}

.text-body-2 {
    font-size: var(--md-sys-typescale-body-medium-size) !important;
    line-height: var(--md-sys-typescale-body-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-body-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-body-medium-tracking) !important;
}


.text-body-3 {
    font-size: var(--md-sys-typescale-body-small-size) !important;
    line-height: var(--md-sys-typescale-body-small-line-height) !important;
    font-weight: var(--md-sys-typescale-body-small-weight) !important;
    letter-spacing: var(--md-sys-typescale-body-small-tracking) !important;
}

.text-label-1 {
    font-size: var(--md-sys-typescale-label-large-size) !important;
    line-height: var(--md-sys-typescale-label-large-line-height) !important;
    font-weight: var(--md-sys-typescale-label-large-weight);
    letter-spacing: var(--md-sys-typescale-label-large-tracking) !important;
}

.text-label-2 {
    font-size: var(--md-sys-typescale-label-medium-size) !important;
    line-height: var(--md-sys-typescale-label-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-label-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-medium-tracking) !important;
}

.text-label-3 {
    font-size: var(--md-sys-typescale-label-small-size) !important;
    line-height: var(--md-sys-typescale-label-small-line-height) !important;
    font-weight: var(--md-sys-typescale-label-small-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-small-tracking) !important;
}

.text-button {
    font-size: var(--md-sys-typescale-label-medium-size) !important;
    line-height: var(--md-sys-typescale-label-medium-line-height) !important;
    font-weight: var(--md-sys-typescale-label-medium-weight) !important;
    letter-spacing: var(--md-sys-typescale-label-medium-tracking) !important;
}


@media (max-width: 1024px) {
    .text-h1 {
        font-size: var(--md-sys-typescale-headline-medium-size) !important;
        line-height: var(--md-sys-typescale-headline-medium-line-height) !important;
        font-weight: var(--md-sys-typescale-headline-medium-weight) !important;
        letter-spacing: var(--md-sys-typescale-headline-medium-tracking) !important;
    }

    .text-h2 {
        font-size: var(--md-sys-typescale-headline-small-size) !important;
        line-height: var(--md-sys-typescale-headline-small-line-height) !important;
        font-weight: var(--md-sys-typescale-headline-small-weight) !important;
        letter-spacing: var(--md-sys-typescale-headline-small-tracking) !important;
    }

    .text-h3 {
        font-size: var(--md-sys-typescale-title-large-size) !important;
        line-height: var(--md-sys-typescale-title-large-line-height) !important;
        font-weight: var(--md-sys-typescale-title-large-weight) !important;
        letter-spacing: var(--md-sys-typescale-title-large-tracking) !important;
    }

    .text-h4 {
        font-size: var(--md-sys-typescale-title-medium-size) !important;
        line-height: var(--md-sys-typescale-title-medium-line-height) !important;
        font-weight: var(--md-sys-typescale-title-medium-weight) !important;
        letter-spacing: var(--md-sys-typescale-title-medium-tracking) !important;
    }

    .text-h5 {
        font-size: var(--md-sys-typescale-title-small-size) !important;
        line-height: var(--md-sys-typescale-title-small-line-height) !important;
        font-weight: var(--md-sys-typescale-title-small-weight) !important;
        letter-spacing: var(--md-sys-typescale-title-small-tracking) !important;
    }

    /* unused to be defined */
    .text-h6 {
        font-size: var(--md-sys-typescale-title-small-size) !important;
        line-height: var(--md-sys-typescale-title-small-line-height) !important;
        font-weight: var(--md-sys-typescale-title-small-weight) !important;
        letter-spacing: var(--md-sys-typescale-title-small-tracking) !important;
    }

}


/* SELECT */

.v-menu > .v-overlay__content > .v-card, .v-menu > .v-overlay__content > .v-sheet, .v-menu > .v-overlay__content > .v-list {
    background: rgb(var(--v-theme-surface-container)) !important;
}


/* Textfield */


.v-field {
    border-radius: var(--v-shape-corner-extra-small) !important;
}
