$primary-light: #00629d;
$primary-dark: #98cbff;

:root {
  --md-sys-color-surface-1-light: #{rgba($primary-light, 0.05)};
  --md-sys-color-surface-2-light: #{rgba($primary-light, 0.08)};
  --md-sys-color-surface-3-light: #{rgba($primary-light, 0.11)};
  --md-sys-color-surface-4-light: #{rgba($primary-light, 0.12)};
  --md-sys-color-surface-5-light: #{rgba($primary-light, 0.14)};
  --md-sys-color-surface-1-dark: #{rgba($primary-dark, 0.05)};
  --md-sys-color-surface-2-dark: #{rgba($primary-dark, 0.08)};
  --md-sys-color-surface-3-dark: #{rgba($primary-dark, 0.11)};
  --md-sys-color-surface-4-dark: #{rgba($primary-dark, 0.12)};
  --md-sys-color-surface-5-dark: #{rgba($primary-dark, 0.14)};
}

@mixin media-mobile {
  @media screen and (max-width: 768.98px) {
    @content;
  }
}
@mixin media-not-mobile {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin media-tablet {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin media-mobile-and-tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin media-desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
@mixin media-small {
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    @content;
  }
}
@mixin media-medium {
  @media screen and (min-width: 1441px) and (max-width: 1920px) {
    @content;
  }
}
@mixin media-large {
  @media screen and (min-width: 1921px) {
    @content;
  }
}
